<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/head'); %>
</head>
<body>
    <%- include('./includes/header'); %>
    <div class="container pt-5 pb-5">
        <% if (removedUser == true) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
            User has been removed.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>
        <div class="row">
            <div class="col-6">
                <h1>Users</h1>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <a href="/adduser" type="button" class="btn btn-primary align-self-center">+ add user</a>
            </div>
        </div>
        
        <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col" class="text-end">Action</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i = 0; i < rows.length; i++) { %>
                <tr 
                    <% if (rows[i].status == 'active') { %> 
                        style="background-color: aquamarine;"
                    <% } %>
                >
                <th scope="row"><%- rows[i].id %></th>
                <td><%- rows[i].first_name %></td>
                <td><%- rows[i].last_name %></td>
                <td><%- rows[i].email %></td>
                <td><%- rows[i].phone %></td>
                <td class="text-end">
                    <% if (rows[i].status == 'None') { %>
                        <a href="/activate/<%- rows[i].id %>" type="button" class="btn btn-light btn-small"><i class="bi bi-lightbulb"></i> Activate</a>
                    <% } else { %> 
                        <a href="/disactivate/<%- rows[i].id %>" type="button" class="btn btn-light btn-small"><i class="bi bi-lightbulb-off"></i> Disactivate</a>
                    <% } %> 
                    <a href="/viewuser/<%- rows[i].id %>" type="button" class="btn btn-light btn-small"><i class="bi bi-eye"></i> View</a>
                    <a href="/edituser/<%- rows[i].id %>" type="button" class="btn btn-light btn-small"><i class="bi bi-pencil"></i>
                    Edit</a>
                    <a href="/<%- rows[i].id %>" type="button" class="btn btn-light btn-small"><i class="bi bi-person-x"></i> Delete</a>
                </td>
                </tr>
            <% } %>
        </tbody>
        </table>
    </div>
</body>
</html>